<%= form_for(@aws_datum) do |f| %>
  <% if @aws_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aws_datum.errors.count, "error") %> prohibited this aws_datum from being saved:</h2>

      <ul>
      <% @aws_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aws_access_key %><br>
    <%= f.text_field :aws_access_key %>
  </div>
  <div class="field">
    <%= f.label :aws_secret_key %><br>
    <%= f.text_field :aws_secret_key %>
  </div>
  <div class="field">
    <%= f.label :manifest_template %><br>
    <%= f.text_area :manifest_template %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
